<div class="birthdays-container">
  <div class="title">
    Aniversariantes
  </div>
  <div class="ListaAniversariantes">
    <div class="cardPersonalizado">
      <img class="fotoPerfil" src="assets/img/foto_pessoa.png"></img>
      <p>Luan Silva</p>
      <img class="Icon" src="assets/img/foto_pessoa.png"></img>
      <p>13/03</p>
    </div>

    <div class="cardPersonalizado">

      <img class="fotoPerfil" src="assets/img/foto_pessoa.png"></img>
      <p>Lara Ribeiro</p>
      <img class="Icon" src="assets/img/foto_pessoa.png"></img>
      <p>12/03</p>
    </div>

    <div class="cardPersonalizado">
      <img class="fotoPerfil" src="assets/img/foto_pessoa.png"></img>
      <p>Vinicius Frederico</p>
      <img class="Icon" src="assets/img/foto_pessoa.png"></img>
      <p>10/03</p>
    </div>

  </div>
</div>